<div class="card flex justify-content-between align-content-center">
  <i (click)="toggleMenu()" class="pi pi-align-justify menu-icon"></i>
  <p-menubar>
    <ng-template #end>
      <div class="flex w-full max-w-screen-lg mx-auto align-items-center justify-content-between px-3">


        <ul class="flex items-center gap-2 p-2">
          <li class="img">
            <p-avatar [image]="userImage()" shape="circle" size="xlarge" />
          </li>
          <li>
            <span class="inline-block mt-3 ml-1 mr-5 capitalize font-medium">
              {{ userName() }}
            </span>
          </li>
          <li routerLink="/account">
            <i class="pi pi-user"></i>
          </li>
          <li class="ml-2 mt-2">
            <app-theme-toggle></app-theme-toggle>
          </li>
          <li>
            <i class="pi pi-sign-out" (click)="signOut()"></i>
          </li>
        </ul>
      </div>
    </ng-template>
  </p-menubar>
</div>