@use "../../../../../styles/base/p-toast" as *;
@use "../../../../../styles/base/table" as *;
@use "../../../../../styles/base/btn-filter" as *;

.card {
  max-width: 120rem;
  margin: 0px auto;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
  }
}

.loading-overlay {
  background: transparent !important;
}
