<section class="flex justify-content-center align-items-center">
  <div class="container">
    <div class="logo text-center mb-6">
      <img src="images/logo-light.png" width="120" alt="logo" />
      <h4 class="text-6xl">Login to your account</h4>
    </div>

    <form>
      <!-- Email Field -->
      <div class="field mb-4">
        <label for="email" class="block mb-2 font-medium">Email address</label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          class="w-full form__field"
          aria-describedby="email-help"
          value="admin@example.com"
        />
      </div>
      <!-- Password Field -->
      <div class="field mb-4">
        <label for="password" class="block mb-2 font-medium">Password</label>
        <input
          id="password"
          type="password"
          pInputText
          formControlName="password"
          class="w-full form__field"
          aria-describedby="password-help"
          value="123456789"
        />
      </div>

      <!-- Submit Button -->
      <div class="flex justify-content-center mt-5">
        <button type="submit" label="Login" class="p-button w-full">
          Log in
        </button>
      </div>
    </form>
  </div>
</section>
