<div class="card">

  <p-table class="custom-table m-auto" [paginator]="true" [rowsPerPageOptions]="[10]" [rows]="10" [first]="0"
    [totalRecords]="(cabinsList() | filterDiscount : filteredStatus).length"
    [value]="cabinsList() | filterDiscount : filteredStatus : sortOption">

    <ng-template #caption>
      <div class="flex justify-content-between align-items-center mx-auto mb-6 lg:flex-row flex-column gap-5">
        <h2>All cabins</h2>
        <ul class="button-group ml-auto lg:ml-0">
          <li class="shadow-2 mr-2 p-2  border-round">
            @for (option of discountOptions; track $index) {
            <button (click)="applyFilter(option.value)" class="btn-g" [class.active]="filteredStatus === option.value">
              {{ option.label }}
            </button>
            }
          </li>
          <li class="shadow-2 flex align-items-center border-round filter ">
            <select class="select border-0 border-round" (change)="onSortChange($event)">
              <option value="name-asc" selected>sort by name (A-Z)</option>
              <option value="name-desc">sort by name (Z-A)</option>
              <option value="regularPrice-asc">sort by price (low first)</option>
              <option value="regularPrice-desc">
                sort by price (high first)
              </option>
              <option value="capacity-asc">sort by capacity (low first)</option>
              <option value="capacity-desc">sort by capacity (high first)</option>
            </select>
          </li>
        </ul>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th></th>
        <th>Cabin</th>
        <th>Capacity</th>
        <th>Price</th>
        <th>Discount</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-cabin>

      <tr class="p-0">
        <td style="width: 100px; height: 100%; padding:0; ">
          <img [src]="cabin.image" class="w-full " alt="cabin image" />
        </td>
        <td>
          <p>{{ cabin.name }}</p>
          <p class="font-semibold text-2xl">{{ cabin.cabinNumber }}</p>
        </td>
        <td>
          <p>Fits up to {{ cabin.maxCapacity }}</p>
        </td>
        <td>
          <p>{{ cabin.regularPrice | currency : "USD" : "symbol" : "1.2-2" }}</p>
          <p class="font-semibold amount">
            {{ cabin.price | currency : "USD" : "symbol" : "1.2-2" }}
          </p>
        </td>
        <td>
          @if (cabin.discount) {
          <span class="dicount">
            {{ cabin.discount | currency : "USD" : "symbol" : "1.2-2" }}
          </span>
          } @else { - }
        </td>
        <td>

          <div class="card flex justify-center">
            <p-menu #menu [model]="getMenuItems(cabin)" [popup]="true" [appendTo]="'body'"></p-menu>
            <i (click)="menu.toggle($event)" class="pi pi-ellipsis-v cursor-pointer"></i>
          </div>

          <div class="card flex justify-content-end">
            <p-menu #menu [model]="getMenuItems(cabin)" [popup]="true" [style]="{
                'min-width': '150px',
                'font-size': '12px',
                'text-align': 'center',
                'border': 'none',
                backgroundColor: backgroundColor,
              }" [appendTo]="'body'">
            </p-menu>

          </div>
        </td>
      </tr>

    </ng-template>

    <ng-template #footer>
      <tr>


        <td colspan="10">
          Showing {{ (cabinsList() | filterDiscount : filteredStatus).length }} of
          {{ totalRecords }} Cabins
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--  Add new cabin Button -->
  <div class="flex justify-content-st mt-5">
    <button type="submit" label="Show" (click)="showDialog()" class="p-btn">
      Add new cabin
    </button>
    <app-dialog [(visible)]="visible" [cabin]="selectedCabin" (onSave)="onDialogClose()"
      (visibleChange)="visible = $event">
    </app-dialog>
  </div>
</div>