section {
    background-color: var(--color-white);
}


section .status {
    background-color: var(--color-blue-100);
    color: var(--color-blue-700);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-2xl);
    font-size: 1.2rem;
    font-weight: 600;
}

section h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-grey-700);
}

.back-btn {
    color: var(--color-brand-700);
    font-size: 1.8rem;
    font-weight: 500;
}

.head {
    color: var(--color-brand-100);
    background-color: var(--color-brand-500);
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
    font-size: 1.9rem;
    font-weight: 600;
}