<div class="card mt-3">
  <div
    class="flex justify-content-between align-items-center mx-auto mb-6 lg:flex-row flex-column gap-5"
  >
    <h1>Dashboard</h1>
    <ul class="button-group ml-auto lg:ml-0">
      @for (day of daysOptions; track $index) {
      <li>
        <button
          (click)="applyFilter(day.value)"
          [class.active]="filteredStatus === day.value"
          class="btn-g"
        >
          {{ day.value }}
        </button>
      </li>
      }
    </ul>
  </div>

  <!-- Sec. Section  -->
  <div class="grid gap-4">
    @for (stat of stats(); track $index) {
    <div class="col">
      <app-recent-box
        [icon]="stat.icon"
        [color]="stat.color"
        [bgColor]="stat.bgColor"
        [label]="stat.label"
        [value]="stat.value"
      >
      </app-recent-box>
    </div>
    }
  </div>

  <!-- The. Section -->
  <div class="grid mt-4">
    <div class="col-12 md:col-6">
      <div class="box">
        <h3>Today</h3>
        <div class="flex justify-content-around align-items-center ">
          <span class="uppercase">Arriving</span>
          <figure class="flex  align-items-center gap-2">
            <img class="flag" src="https://flagcdn.com/gb.svg" alt="flag" />
            <figcaption>
              <p>Jonathan Smith</p>
            </figcaption>
          </figure>
          <span>7 nights </span>
          <span>check in</span>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="box">
        <h3>Stay duration summary</h3>
        <app-circle-chart></app-circle-chart>
      </div>
    </div>
  </div>

  <!-- last sec -->
  <div class="box" style="margin: 2rem 0">
    <h3>sales from <span>08 07 2025</span> - <span>aug 13 2025</span></h3>
 <app-line-chart></app-line-chart>
  </div>
</div>
